<h1>Show a specific user</h1>

  <div><%= @student.name %></div>
  <div><%= @student.bio %></div>
  <div><%= @student.profile_image %></div>
  <div><%= @student.background_image %></div>
  <div><%= @student.quote %></div>
  <div><%= @student.work %></div>
  <div><%= @student.work_title %></div>
  <div><%= @student.education %></div>
  <div><%= @student.created_at %></div>
  <div><%= @student.updated_at %></div>

  <h3>CHANGE</h3>